input.css-mps6pm-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.css-1qnrw8l-MuiInputBase-root-MuiOutlinedInput-root {
    width: 200px !important;
}